<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Subtitle</key>
	<string>Colegio Internacional Levante</string>
	<key>Chapters</key>
	<array>
		<string>Document1.playgroundchapter</string>
	</array>
	<key>ContentIdentifier</key>
	<string>es.rodrigoegido.MONDRIANCODE</string>
	<key>ContentVersion</key>
	<string>1.0</string>
	<key>DeploymentTarget</key>
	<string>ios10.0</string>
	<key>DevelopmentRegion</key>
	<string>en</string>
	<key>Name</key>
	<string>Mondrian code</string>
	<key>ImageReference</key>
	<string>EnglishFirstImage.jpg</string>
	<key>SwiftVersion</key>
	<string>4.1</string>
	<key>Version</key>
	<string>3.1</string>
</dict>
</plist>
