<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Er zijn geen hints.</string>
		</dict>
		<dict>
			<key>SpoilerButtonTitle</key>
			<string>Ok, als je hulp nodig hebt...</string>
			<key>Content</key>
			<string>Hey, er zijn geen hints. 😂</string>
		</dict>
	</array>
</dict>
</plist>
