<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>Int</key>
		<dict>
			<key>Definition</key>
			<string>Un tipo que almacena un número entero, es decir, un número que no tiene decimal, como `10` o `-42`. </string>
			<key>Title</key>
			<string>Entero</string>
		</dict>
		<key>command</key>
		<dict>
			<key>Title</key>
			<string>comando</string>
			<key>Definition</key>
			<string>Código que le indica a una aplicación que realice una acción específica. 
</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>Title</key>
				<string>Ejemplo</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
